<html>
<body>
    <button><a href="/">Homepage</a></button>
        <form action="/deleteparcel" method="post">
            <h1>Delete by ID</h1>
            <label>ID</label>
            <input type="text" name="idvalue">
            <button>Submit</button>
        </form>
        <form action="/deleteparcelbysender" method="post">
            <h1>Delete by Sender</h1>
            <label>SENDER</label>
            <input type="text" name="sender">
            <button>Submit</button>
        </form>
        <form action="/deleteparcelbyidandweight" method="post">
            <h1>Delete by ID and weight</h1>
            <label>ID</label>
            <input type="text" name="idvalue">
            <label>weight</label>
            <input type="text" name="weight">
            <button>Submit</button>
        </form>
        <form action="/deleteparcelweight" method="post">
            <label>weight</label>
            <input type="text" name="weight">
            <button>Submit</button>
        </form>

</body>

</html>