<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="index.css">
        <link rel="stylesheet" href="./css/bootstrap.min.css">
    </head>
    <body>
        <img src="glass.jpg" height="150" width="100">
        <br>
        <button type="button" class="btn btn-light"><a href="/">Homepage</a></button>
        <button><a href="/addparcel">Add a Product</a></button>
        <button><a href="/list">List Parcels</a></button>
        <button><a href="/deleteparcel">Delete Parcels</a></button>
        <button><a href="/updateparcel">Update Parcel by ID</a></button>
    </body>
</html>