<html>
    <head>
        <link rel="stylesheet" href="addparcel.css">
    </head>
    <body>
        <button><a href="/">Homepage</a></button>
        <form action="/parcelpost" method="post">
            <label>ID</label>
            <input type="text" name="id"/>
            <label>sender</label>
            <input type="text" name="sender"/>
            <label>address</label>
            <input type="text" name="address"/>
            <label>weight</label>
            <input type="number" name="weight"/> 
            <label>fragile</label>
            <input type="text" name="fragile"/>
            <label>cost</label>
            <input type="number" name="cost"/>
            <button>Submit</button>
        </form>
    </body>
    